/* styles.css */
.pago-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.pago-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.pago-item::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #E2E8F0;
  top: 50%;
  left: -25px;
  z-index: -1;
}

.pago-item:first-child::before {
  content: none;
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.green {
  background-color: #059669;
  color: white;
}

.red {
  border: 3px solid #FC4024;
  color: #FC4024;
}

.gray {
  background-color: #E2E8F0;
  color: #E2E8F0;
}

.line {
  width: 50px;
  height: 3px;
  background-color: #E2E8F0;
  margin-top: -12px;
}

.line.paid {
  background-color: #059669;
}

.line.selected {
  background-color: #FC4024;
}
